.todo-container{
    background-color: black;
    width: 90vh;
    margin: 10em auto;
    border-radius:10px ;
    padding: 15px;
    color: white;
}

.header{
    font-size: 2em;
    text-align: center;
}

.input-container{
    background-color: black;
    padding: 0.5em;
    border-radius: 1em;
    border: 2px solid yellow;
}

.input{
    font-size: 1.6em;
    font-weight:bold ;
    color: black;
    background-color: white;
    border: 1px;
    border-radius:1em ;
    padding: .5rem;
    margin: 1em;
    width: 80%;
}

.task-button{
    border-radius: 5px;
    font-size: 2em;
    margin: 2px;
    padding: 0px 15px;
    border: none;
    cursor: pointer;
    color: black;
    background-color: aquamarine;
}

.task-list{
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    color: yellow;
    background-color: black;
    border: 1px solid yellow;
    border-radius: 6px;
    padding: 5px;
    margin: .5em;
}

.delete-btn{
    border-radius: 6px;
    margin: 0px 5px;
    padding: 3px 5px;
    cursor: pointer;
    border: none;
    color: black;
    float: right;
background-color: white;
}